.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.desktop-footer-dark {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9.375rem 0rem;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--dark-background);
}

.content-7 {
  display: inline-flex;
  align-items: flex-start;
  gap: 7.8125rem;
  position: relative;
  flex: 0 0 auto;
}

.desktop-menu-2 {
  display: inline-flex;
  align-items: center;
  gap: 1.25rem;
  position: relative;
  flex: 0 0 auto;
  color: var(--light-text);
}

.footer-menu-style {
  display: flex;
  flex-direction: column;
  width: 10.625rem;
  align-items: flex-start;
  gap: 0.9375rem;
  position: relative;
}

.list-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  position: relative;
  flex: 0 0 auto;
  font-size: 0.8rem;
  color: var(--light-text);
}

.footer-menu-style-2 {
  display: flex;
  flex-direction: column;
  width: 11.625rem;
  align-items: flex-start;
  gap: 2rem;
  position: relative;
}

.text-wrapper-7 {
  font-weight: 700;
}

.row-5 {
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  flex: 0 0 auto;
  display: inline-flex;
  position: relative;
}

.div-4 {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.div-4 img {
  width: 3rem;
}

.bx-bx-map-2 {
  position: relative;
  width: 2.875rem;
  height: 2.875rem;
}

.address {
  padding: 0rem 0.5rem;
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.text-wrapper-22 {
  position: relative;
  width: fit-content;
  margin-top: -0.0625rem;
  font-family: var(--link-font-family);
  font-weight: var(--link-font-weight);
  color: var(--light-text);
  font-size: var(--link-font-size);
  letter-spacing: var(--link-letter-spacing);
  line-height: var(--link-line-height);
  white-space: nowrap;
  font-style: var(--link-font-style);
}

.ic-baseline-phone-2 {
  position: relative;
  width: 2.1875rem;
  height: 2.1875rem;
}

.social-media {
  padding: 1.25rem 0rem;
  display: inline-flex;
  align-items: center;
  gap: 1.5rem;
  position: relative;
  flex: 0 0 auto;
}

@media screen and (max-width: 1279px) {
}

@media screen and (max-width: 1023px) {
  .desktop-footer-dark {
    padding: 2rem;
  }
  .content-7 {
    flex-direction: row;
    gap: 3rem;
    align-items: center;
  }
  .desktop-menu-2 {
    flex-direction: row;
    gap: 1rem;
  }
  .footer-menu-style-2 {
    width: 8rem;
    justify-content: center;
  }
  .social-media {
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .desktop-footer-dark {
    padding: 2rem;
  }
  .content-7 {
    flex-direction: column;
    gap: 3rem;
  }
  .desktop-menu-2 {
    flex-direction: row;
    gap: 1rem;
  }
  .footer-menu-style-2 {
    width: 8rem;
    align-items: center;
  }
  .list-2 {
    align-items: center;
  }
}

@media (max-width: 480px) {
  .desktop-menu-2 {
    flex-direction: column;
    gap: 3rem;
  }
}
