@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --light-text: rgba(255, 255, 255, 1);
  --primary: rgba(32, 145, 249, 1);
  --text: rgba(37, 43, 66, 1);
  --second-text: rgba(55, 71, 84, 1);
  --background: rgba(24, 23, 29, 1);
  --light-background: rgba(255, 255, 255, 1);
  --dark-background: rgba(37, 43, 66, 1);
  --link-font-family: "Roboto", Helvetica;
  --link-font-weight: 400;
  --link-font-size: .9375rem;
  --link-letter-spacing: .0125rem;
  --link-line-height: 1.6875rem;
  --link-font-style: normal;
  --SHADOW: 0rem 0rem 4rem 2rem rgba(0, 0, 0, 0.07);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  margin: 0rem;
  height: 100%;
}

ol,
ul,
menu,
summary {
  list-style: none;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
}

button:focus-visible {
  outline: .125rem solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto .3125rem !important;
}

input:focus {
  outline: none;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}


@media (max-width: 768px) {
  .br {
    display: none;
