.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.desktop-FEATURE {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}
.text-content .div-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -0.0625rem;
  font-weight: 400;
  color: var(--text);
  font-size: 3rem;
  text-align: center;
  letter-spacing: 0.0125rem;
  line-height: 3.4375rem;
  white-space: nowrap;
}

.p {
  text-align: center;
  position: relative;
  width: fit-content;
  margin-top: 1rem;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: var(--second-text);
  font-size: 1.75rem;
  letter-spacing: 0.0125rem;
  line-height: 2.5rem;
}

.items {
  flex-direction: column;
  align-items: flex-start;
  gap: 3.25rem;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.div-3 {
  display: inline-flex;
  align-items: flex-start;
  gap: 3.25rem;
  position: relative;
  flex: 0 0 auto;
}

.feature-style {
  display: flex;
  flex-direction: column;
  width: 15.9375rem;
  align-items: center;
  gap: 0.625rem;
  position: relative;
}

.img-2 {
  position: relative;
  width: 3.8125rem;
  height: 3.8125rem;
}

.text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -0.0625rem;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: var(--text);
  font-size: 1.25rem;
  text-align: center;
  letter-spacing: 0.0063rem;
  line-height: 1.75rem;
}

.text-paragraphe {
  display: inline-flex;
  align-items: center;
  gap: 0.625rem;
  padding: 0rem 0.625rem;
  position: relative;
  flex: 0 0 auto;
}

.slate-helps-you-see {
  position: relative;
  width: fit-content;
  margin-top: -0.0625rem;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: var(--second-text);
  font-size: 1.125rem;
  text-align: center;
  letter-spacing: 0.0125rem;
  line-height: 1.5625rem;
}

.mdi-draw {
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
}

.text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -0.0625rem;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: var(--text);
  font-size: 1.25rem;
  text-align: center;
  letter-spacing: 0.0063rem;
  line-height: 1.75rem;
  white-space: nowrap;
}

.screen-content {
  display: flex;
  flex-direction: column;
  width: 66.1369rem;
  align-items: center;
  gap: 3.6919rem;
  padding: 3.25rem 0rem;
  position: relative;
  flex: 0 0 auto;
  padding-bottom: 10rem;
}

.video-screen {
  position: relative;
  width: 73.5837rem;
  height: 41.1437rem;
  margin-left: -3.7237rem;
  margin-right: -3.7237rem;
  border-radius: 5.0925rem;
}

.overlap-group {
  position: relative;
  width: 75rem;
  height: 40rem;
  background-image: url(./assets/images/screen.png);
  background-size: auto;
  background-position: 50% 50%;
  border-radius: 3rem;
  box-shadow: var(--SHADOW);
}

.play-button {
  position: absolute;
  width: 11.6875rem;
  height: 11.6875rem;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: var(--primary);
  border-radius: 5.8563rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.el-play {
  width: 2.9375rem;
  height: 2.9375rem;
}

@media screen and (max-width: 1279px) {
  .video-screen {
    width: 90%;
    margin: auto;
    text-align: center;
    margin-left: 0rem;
    margin-right: 0rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .overlap-group {
    width: 50rem;
    height: 25rem;
    aspect-ratio: 16/9;
    border-radius: 1rem;
  }

  .play-button {
    width: 5rem;
    height: 5rem;
  }

  .el-play {
    width: 2rem;
    height: 2rem;
  }
}

@media screen and (max-width: 1023px) {
  .div-3 {
    gap: 0.25rem;
  }
  .screen-content {
    width: 100%;
    aspect-ratio: 16/9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;

  }

  .video-screen {
    width: 90%;
    margin: auto;
    text-align: center;
    margin-left: 0rem;
    margin-right: 0rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .overlap-group {
    width: 50rem;
    height: 20rem;
    aspect-ratio: 16/9;
    border-radius: 1rem;
  }

  .play-button {
    width: 5rem;
    height: 5rem;
  }

  .el-play {
    width: 2rem;
    height: 2rem;
  }
}

@media (max-width: 768px) {
  .div-3 {
    flex-direction: column;
  }

  .screen-content {
    width: 100%;
    aspect-ratio: 16/9;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .video-screen {
    width: 90%;
    margin: auto;
    text-align: center;
    margin-left: 0rem;
    margin-right: 0rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .overlap-group {
    width: 30rem;
    height: 15rem;
    aspect-ratio: 16/9;
    border-radius: 1rem;
  }

  .play-button {
    width: 5rem;
    height: 5rem;
  }

  .el-play {
    width: 2rem;
    height: 2rem;
  }
}
